@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/


.header {
	font-family: 'Pacifico', cursive;
	font-size: 50px;
	width: 100%;
	text-align: center;
	min-height: 80px;
	padding-top: 20px;
	display: flex;
	justify-content: space-around;
	background-color: #E0ECE4;
}
.footer {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	font-size: 20px;
	min-height: 80px;
	padding-top: 15px;
	background-color: #D8D3CD;
	display: flex;
	justify-content: space-between;
}

.card_restaurant {
	border-radius: 10px;
	width: 300px;
	height: 200px;
	text-align: center;
	margin: 20px 15px 15px 15px;
	position: relative;
	transition-duration: 1s;
	bottom: 0px;
}
.card_restaurant:hover {
	cursor: pointer;
	bottom: 10px;
	box-shadow: 0px 0px 30px 2px gray;
	transition-duration: 0.5s;
}
.pizza_bg {
	background: url('/src/images/pizza.jpg') 50%/cover no-repeat;
}
.sushi_bg {
	background: url('/src/images/sushi.jpg') 50%/cover no-repeat;
}
.chicken_bg {
	background: url('/src/images//chicken.png') 50%/cover no-repeat;
}
.card {
	/* width: 100%; */
	height: 100%;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cards_block {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	background-color: #F7F2E7;
	width: 100%;
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}
.cards_block_basket {
	font-family: 'Roboto', sans-serif;
	font-weight: 800;
	background-color: #F7F2E7;
	width: 100%;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	/* border: 1px solid red; */
}
.cards_wraper {
	width: 850px;
	/* display: flex;
	justify-content: center; */
	/* height: 100%; */
	/* border: 1px solid red; */
}

.card_menu {
	padding-left: 5px;
	padding-right: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	width: 90%;
	height: 60px;
	margin: 40px;
	background-color: rgba(250, 128, 114, 0.7);
	border-radius: 15px;
	transition-duration: 1s;
}
.card_menu:hover {
	box-shadow: 0px 0px 6px 4px gray;
	transition-duration: 1s;
}
.card_menu_col {
	margin-right: 6px;
	display: flex;
	align-items: center;
	flex-direction: row;
}
ul {
	/* display: flex;
	flex-wrap: wrap;
  justify-content: space-between;
	margin: 40px; */
}
.logo {
	color: rgb(102, 2, 128);
	width: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}
.logo_footer {
	color: rgb(102, 2, 128);
	width: 100px;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-left: 150px;
}
.basket {
	width: 50px;
}
.name {
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-bottom: 40px;
}
.button {
	width: 100px;
	height: 40px;
	padding:  5px 5px 5px 5px;
	background-color: skyblue;
	border-radius: 10px;
	margin-left: 10px;
	bottom: 0px;
	position: relative;
	transition-duration: 0.5s;
}
.button:hover {
	cursor: pointer;
	bottom: 2px;
	transition-duration: 0.5s;
}
.submit_button {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 41px;
	display: flex;
	text-align: center;
	justify-content:center;
	align-items: center;
	min-height: 60px;
	padding: 0px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	border-radius: 10px;
	position: relative;
	top: 0;
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;
	transition-duration: 0.5s;
}
.submit_button:hover{
	cursor: pointer;
	top: 2px;
	box-shadow: 0 3px 0px #3c354a;
	background-color: #18b5a4;
	transition-duration: 0.5s;
}
.cont {
	margin-right: 70px;
}
.modal_blok {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal {
	width: 400px;
	min-height: 200px;
	border: 1px solid black;
	background-color: rgba(104, 169, 230, 0.3);
	border-radius: 15px;
}
.modal_button {
	width: 150px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 41px;
	display: flex;
	text-align: center;
	justify-content:center;
	align-items: center;
	min-height: 30px;
	padding: 0px 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	border-radius: 10px;
	position: relative;
	top: 0;
	color: #fff;
	background-color: #5e5373;
	box-shadow: 0 5px 0px #3c354a;
	transition-duration: 0.5s;
}
.modal_button:hover {
	cursor: pointer;
	top: 2px;
	box-shadow: 0 3px 0px #3c354a;
	background-color: #18b5a4;
	transition-duration: 0.5s;
}
.modal_button_block {
	display: flex;
	align-items: flex-end;
}
.checkout {
	background-color: #F7F2E7;
	height: 100px;
}
.content {
	text-align: center;
	margin-bottom: 10px;
}
#simple-modal-title {
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#simple-modal-description {
	display: flex;
	flex-direction: column;
}
label {
	margin: 10px;
}
.end {
	min-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 700;
}